############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

##############
## Mac crap
##############

.DS_Store

##############
## MPLAB X ignores
##############
PIC32_Programs/Demo/demo.X/**
PIC32_Programs/UART/UART.X/**
PIC24_Programs/sender_module.X/nbproject/*
##############
## Files from merges and shit
##############
*.orig

##############
## Compiled stuff
##############
*.o
*.d