############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

##############
## Mac crap
##############

.DS_Store

##############
## MPLAB X ignores
##############
PIC32 Programs/Demo/demo.X/
